<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.android.tmdb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Tmdb"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.feed.FeedActivity"
            android:theme="@style/Theme.Tmdb.Feed" />

        <activity
            android:name=".ui.paging.main.movie.TrendingMoviesActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.movie.NowPlayingMoviesActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.movie.PopularMoviesActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.movie.UpcomingMoviesActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.movie.HighRateMoviesActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.movie.DiscoverMoviesActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.tvshow.TrendingTVShowActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.tvshow.AiringTodayTVShowActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.tvshow.PopularTVShowActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.tvshow.OnTheAirTVShowActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.tvshow.HighRateTVShowActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.main.tvshow.DiscoverTVShowsActivity"
            android:parentActivityName=".ui.feed.FeedActivity" />

        <activity
            android:name=".ui.paging.search.movie.SearchMovieActivity"
            android:theme="@style/Theme.Tmdb.Search" />

        <activity
            android:name=".ui.paging.search.tvshow.SearchTVShowActivity"
            android:theme="@style/Theme.Tmdb.Search" />

        <activity android:name=".ui.detail.movie.DetailMovieActivity" />

        <activity android:name=".ui.detail.tvshow.DetailTVShowActivity" />

        <activity android:name=".ui.person.PersonActivity" />

    </application>

</manifest>